footer 
{
    width: 100%;
    background: rgba(255, 255, 255, 0.43); 
    position: sticky;
    bottom: 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
}

footer div 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
