.history-container 
{
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: white;
}

.history-container h2 
{
    font-size: 50px;
}


.history-table 
{
    width: 100%;
    max-width: 1000px;
    text-align: center;
    background: rgba(0, 0, 0, 0.186); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

.history-table th,
.history-table td 
{
    padding: 20px 24px;
    font-size: 18px;
    text-align: center; 
}

.history-table thead {
    background: rgba(255, 255, 255, 0.1);
}

.history-table tbody tr:nth-child(even) 
{
    background: rgba(255, 255, 255, 0.05);
}

.history-table tbody tr:hover 
{
    background: rgba(255, 255, 255, 0.15);
}
